name: Release
on:
    workflow_dispatch:
        inputs:
            version:
                description: "npm version (patch/minor/major)"
                required: true
                default: ""
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: "12.x"
                  registry-url: "https://registry.npmjs.org"
            - run: npm ci
            - run: npm run build
            - name: Release
              run: |
                  git config --local user.email "action@github.com"
                  git config --local user.name "GitHub Action"
                  npm version "${{ github.event.inputs.version }}"
                  npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
